body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #6dd5fa, #ffffff);
  text-align: center;
}

.container {
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  margin-right: 10px;
  text-align: center;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

#weather-display {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#city-name {
  font-size: 24px;
  color: #333;
}

#temperature,
#description {
  font-size: 18px;
  color: #666;
}

#image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
